{% extends 'base.html.twig' %}

{% block title %}Mes adresses - La Boutique Marocaine{% endblock %}

{% block content %}
    <h1>Mes adresses</h1>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.
    <hr>




{% endblock %}
