{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Marocaine{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue {{ app.user.firstname }} {{ app.user.lastname }} dans votre compte.
    <br>C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
         - Modifier mon mot de passe
    <br> - Ajouter mes adresses
    <br> - Mes commandes
    <hr>


{% endblock %}
